/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
  width: 880px;
  margin: 0; 
}

@media (max-width: 800px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .container {
        width: 100%;
    }
}

/* header */

@media (max-width: 800px) {
    header {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 75px;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 500px) {
    header {
        margin-top: 25px;
    }
}

header nav {
  display: inline-block;
  width: 690px;
  vertical-align: top;
  margin-top: 35px;
}

@media (max-width: 800px) {
    header nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}

@media (max-width: 500px) {
    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

header nav a {
  margin-right: 65px;
  font-size: 14px;
  color: gray;
  text-decoration: none;
}

@media (max-width: 500px) {
    header nav a {
        width: 100%;
        padding-top: 30px;
        margin-top: 20px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
        border-top: 1px solid darkgray;
        text-align: center;
        font-size: 20px;
    }
}

header nav a:hover {
  text-decoration: underline;
}

header nav a:first-child {
  margin-left: 0;
}

@media (max-width: 500px) {
    header nav a:first-child {
        text-align: center;
    }
}

header nav a:last-child {
  margin-right: 0;
}

@media (max-width: 500px) {
    header nav a:last-child {
        border-bottom: 1px solid darkgray;
        padding-bottom: 30px;
    }
}

header .logo {
  margin-top: 25px;
}

/* cta */

.cta .cta-text {
  display: inline-block;
  vertical-align: top;
  font-size: 77px;
  margin-top: 120px;
  text-align: center;
  padding: 0px 75px;
}

@media (max-width: 800px) {
    .cta .cta-text {
        display: block;
        margin: auto;
        margin-top: 75px;
    }
}

@media (max-width: 500px) {
    .cta .cta-text {
        margin-top: 25px;
    }
}

.cta .cta-text button {
  background: white;
  vertical-align: top;
  margin-top: 6px;
  padding: 8px 44px;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}

.cta .cta-text button:hover {
  background: black;
  color: white;
}

.cta img {
  display: inline-block;
  margin-top: 69px;
}

@media (max-width: 800px) {
    .cta img {
        display: none;
    }
}

.main-content {
  border-top: 1px solid black;
  margin-top: 75px;
  padding-top: 39px;
}

@media (max-width: 800px) {
    .main-content {
        width: 100%;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .main-content {
        margin-top: 25px;
        width: 100%;
        align-items: center;
    }
}

.main-content .top-content {
  padding: 0 10px;
}

@media (max-width: 800px) {
    .main-content .top-content {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .main-content .top-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
}

@media (max-width: 800px) {
    .main-content .top-content:first-child {
        display: flex;
        box-sizing: border-box;
    }
}

.main-content .top-content .text-content {
  width: 410px;
  display: inline-block;
  margin-right: 34px;
}

@media (max-width: 500px) {
    .main-content .top-content .text-content {
        width: 90%;
        margin-bottom: 20px;
        margin-right: 0px;
    }
}

.main-content .top-content .text-content:last-child {
  margin-right: 0;
}

.main-content .middle-img {
  margin-top: 45px;
}

@media (max-width: 800px) {
    .main-content .middle-img {
        width: 100%;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .main-content .middle-img {
        width: 100%;
        align-items: center;
    }
}

.main-content .bottom-content {
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 0px;
  display: flex;
  border-bottom: 1px solid black;
}

@media (max-width: 500px) {
    .main-content .bottom-content {
        border: none;
    }
}

@media (max-width: 800px) {
    .main-content .bottom-content {
        display: flex;
        box-sizing: border-box;
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media (max-width: 500px) {
    .main-content .bottom-content {
        display: flex;
        flex-direction: column;
        padding-right: 0px;
        padding-left: 0px;
}
.main-content .bottom-content .text-content {
  width: 275px;
  display: inline-block;
  margin-right: 12px;
}

@media (max-width: 500px) {
    .main-content .bottom-content .text-content {
        width: 90%;
        margin-bottom: 20px;
    }
}

.main-content .bottom-content .text-content:last-child {
  margin-right: 0;
}

.contact {
  margin-top: 57px;
  border-top: 1px solid black;
  padding: 39px 10px 0;
}

@media (max-width: 500px) {
    .contact {
        margin-top: 0px;
    }
}

.contact p {
  margin: 20px 0;
}

footer {
  margin: 32px 0;
  text-align: center;
  font-size: 14px;
}