/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto';
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto';
    letter-spacing: 1px;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

.container {
  width: 880px;
  margin: 0 auto; 
  border: 1px solid black;
}

@media (max-width: 800px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .container {
        width: 100%;
    }
}

/* header */
header {
    width: 100%;
    box-sizing: border-box;
}


@media (max-width: 800px) {
    header {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 75px;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 500px) {
    header {
        margin-top: 25px;
    }
}

header nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 35px;
  border-bottom: 1px solid #F7F7F7;
}

@media (max-width: 800px) {
    header nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}

@media (max-width: 500px) {
    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

header nav a {
    font-size: 24px;
    font-weight: bold;
    color: #339EF9;
    text-decoration: none;
}

header nav a:first-child {
    margin-left: 10px;

}

@media (max-width: 500px) {
    header nav a {
        width: 100%;
        padding-top: 30px;
        margin-top: 20px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
        border-top: 1px solid darkgray;
        text-align: center;
        font-size: 20px;
    }
}

header nav a:hover {
  text-decoration: underline;
}

header nav a:first-child {
  margin-left: 0;
}

@media (max-width: 500px) {
    header nav a:first-child {
        text-align: center;
    }
}

header nav a:last-child {
  margin-right: 0;
}

@media (max-width: 500px) {
    header nav a:last-child {
        border-bottom: 1px solid darkgray;
        padding-bottom: 30px;
    }
}

/* Welcome Section */

.welcome {
    background: #339EF9  
    
}

.welcome .welcomeText {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 50px;
    justify-content: center;
    align-content: center;
    color: white;
    font-weight: bold;  
}

@media (max-width: 800px) {
    .welcome .welcomeText {
        display: block;
        margin: auto;
        margin-top: 75px;
    }
}

@media (max-width: 500px) {
    .welcome .welcomeText {
        margin-top: 25px;
    }
}

.welcome .welcomeText h1 {
    font-size: 36px;
}

.welcome .welcomeText h2 {
    font-size: 30px;
}

.welcome button {
  background: #339EF9;
  vertical-align: right;
  text-align: center;
  padding: 70px 70px;
  font-size: 24px;
  color: white;
  border: 1px solid white;
  border-radius: 100%;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.welcome button:hover {
  background: black;
  color: white;
}

.mainContent {
  background: #F7F7F7;
  color: #339EF9;
  padding-top: 50px;
}

@media (max-width: 800px) {
    .mainContent {
        width: 100%;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .mainContent {
        margin-top: 25px;
        width: 100%;
        align-items: center;
    }
}

.mainContent .topContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 10px;
  width: 50%;
  margin: auto;
}

@media (max-width: 800px) {
    .mainContent .topContent {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .mainContent .topContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
}

@media (max-width: 800px) {
    .mainContent .topContent:first-child {
        display: flex;
        box-sizing: border-box;
    }
}

.mainContent .topContent .indyContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

@media (max-width: 500px) {
    .mainContent .topContent .indyContent {
        width: 90%;
        margin-bottom: 20px;
        margin-right: 0px;
    }
}

.mainContent .topContent .indyContent #features {
    margin-bottom: 30px;
}

.mainContent .topContent .indyContent h3 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.mainContent .topContent .indyContent p {
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
}

footer {
  margin: 32px 0;
  text-align: center;
  font-size: 14px;
}